.home{
   top: 7vh;
   background-image: linear-gradient(rgb(192,81,81),rgb(34, 34, 94));
   width: 100%;
   height: calc(100vh - 12vh);
}
.body{
   margin-top:7vh;
}
div{
    div{
        h1{
            text-align: center;
            color: rgb(252, 254, 245);
        }
    }
}