<div class="home">
    <div class="body">
        <div class="text-center text-primary mt-3">
            <h6>Trinits Payroll</h6>
        </div>
        <div class="text-center mt-3">
            <small>Priemium</small>
            <hr>
        </div>
        <div class="mb-2">
            <a routerLink="/company" class=" selected ps-3 d-block text-white text-decoration-none"><i class="bi bi-house-door me-2"></i>Company</a>
        </div>
        <div class="mb-2 ">
            <a routerLink="/employee" class=" ps-3 d-block text-white text-decoration-none"><i class="bi bi-grid me-2"></i>Employee</a>
        </div>
        <div class="mb-2">
            <a routerLink="/reports" class=" ps-3 d-block text-white text-decoration-none"><i class="bi bi-megaphone me-2"></i>Reports</a>
            <hr>
        </div>
        <div class="mb-2">
            <a routerLink="/settings" class=" ps-3 d-block text-white text-decoration-none"><i class="bi bi-gear-wide me-2"></i>Settings</a>
        </div>
        <div class="mb-2">
            <a routerLink="/" class=" ps-3 d-block text-white text-decoration-none"><i class="bi bi-plus-square me-2"></i>Help</a>
        </div>
    </div>
</div>

