<form action="" autocomplete="off">
    <div class="container w-25 mb-1  border rounded shadow mx-auto">
        <h5 class="text-center text-primary">signup with your email </h5>
        <h6>Already have an account?<a routerLink="/login">Login</a></h6>
        <div class="form-group mb-1">
            <label for="email">First Name:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group mb-1">
            <label for="email">Last Name:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group mb-1">
            <label for="email">Mobile Number:</label>
            <input type="number" class="form-control" placeholder="Enter number">
        </div>
        <div class="form-group mb-1">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group mb-1">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group mb-1">
            <label for="cpassword">Confirm Password:</label>
            <input type="password" class="form-control" id="cpassword" placeholder="Password">
        </div>
        <div class="text-center mb-1">
            <input type="submit" class="form-control btn btn-primary" value="Create Account">
        </div>
    </div>
</form>
